# Sample gitconfig
#

[user]
  name = authorname
  email = authoremail
  helper = osxkeychain

[credential]
  helper = osxkeychain

[alias]
    # credit: http://www.jukie.net/bart/blog/pimping-out-git-log
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        # if someone has only the default settings, decent fallbacks are:
        #       git log --decorate --color
        #       git log --decorate --color --oneline
[color]
  ui = true
  diff = auto
  status = auto
  branch = auto

[core]
  excludesfile = ~/.gitignore

[push]
  default = simple

[difftool "kdiff3"]
  path = ~/Applications/kdiff3.app/Content/MacOS/kdiff3
  keepBackup = false
  prompt = false

[diff]
  tool = kdiff3

#  Adds reminder on how to write better commit message
[commit]
  template = ~/.dotfiles/git/commit-template.txt
